<!DOCTYPE html>
{% extends "medApp/index.html" %}
{% block body_block %}
{% csrf_token %}

<div class=articleContainer>
  {% if article %}
  {% for i in article %}

  <h3> {{i.title}} </h3>
  <p> {{i.authors}} </p>
  <p><b>PMID: </b>{{i.doc_id}} <b>Date: </b>{{i.date}} </p>

  <h3>Abstract</h3>
  <p> {{i.abstract}} </p>
  <p><b>Keywords: </b> {{i.keywords}} </p>
  <form class="post" action="{% url 'medApp:tag' %}" method=POST>
    {% csrf_token %}
    <input type="text" class="idlabel" value={{i.doc_id}} name="idlabel" hidden />
    <b>Tags: </b>
    {% endfor %}
    {% for wik in docid %}
    <a class="wikiTag" href="{{wik.link}}">{{ wik.tag }}</a>
    {% endfor %}
    {% endif %}


    <br><br>

    <input type="text" placeholder="Please name your tag " name="tag" maxlength="30" id="tag">
    <br> <br>
    <input id="queryAutoComplete" name="query" type="text" placeholder="Search Wikidata.." required>

    <div id="content">

      <select id="searchResultList" size="5" multiple name="chosen">

        <input type="submit" class="tag-btn" value="Add Tag">

  </form>


</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
  $(document).ready(function () {
    var typingTimer;                //timer identifier
    var doneTypingInterval = 100;  //time in ms
    var $input = $('#queryAutoComplete');

    //on keyup, start the countdown
    $input.on('keyup', function () {
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });

    //on keydown, clear the countdown 
    $input.on('keydown', function () {
      clearTimeout(typingTimer);
    });

    //user is finished typing, fetch data
    function doneTyping() {
      var request = $.ajax({
        url: "{% url 'medApp:get_wikidata' %}",
        type: "GET",
        data: { query: $input.val() },
        //contentType: "application/json; charset=utf-8",
        dataType: "json"
      });

      request.done(function (msg) {
        // console.log(msg.descriptions);
        var html = "";
        $.each(msg.descriptions, function (index, val) {
          var str = "<option name=selection>" + val + "</option>";
          html += str;
        });
        $("#searchResultList").html(html);
      });

      request.fail(function (jqXHR, textStatus) {
        // alert("It does not exist in Wikidata " + textStatus);
      });
    }
  });
</script>



















</div>


{% endblock %}