{% extends "medApp/index.html" %}
{% block body_block %}
<center>
    <div class=container>
        {% if docid %}
        {% csrf_token %}
        <h3>{{docid}}</h3>
        {% endif %}
        {% if value %}
        {% csrf_token %}
        <h3>{{value}}Please return to <a href="{% url 'medApp:home' %}">Home</a></h3>
        {% endif %}
        {% if success %}
        {% csrf_token %}
        <h3>{{success}}</a></h3>
        <table style="width:100%">
            <tr>
                <th>Article</th>
                <th>Tag</th>
                <th>Wikidata Link</th>
            </tr>
            {% for item in tagDB %}
            <tr>
                <td> <a href="/article/{{item.docId}}">Back to Article</a></td>
                <td>{{item.tag}}</td>
                <td> <a href="{{item.link}}">Wikidata</a></td>
            </tr>
            {% endfor %}
        </table>

        {% endif %}
        {% if failure %}
        {% csrf_token %}
        <h3>{{failure}} <a href="{% url 'medApp:search' %}">Search</a></h3>
        {% endif %}
    </div>

    {% endblock %}

</center>